coverage
faker
flask
flask-cors
flask-jwt-extended
flask-migrate
flask-pydantic
flask-sqlalchemy
flask_mail
google-genai
groq
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-postgres
langchain-text-splitters
pydantic
pydantic-to-typescript2
pydantic[email]
pydantic_core
psycopg2-binary
python-dotenv
pypdf
requests
ruff
spectree
