@import "tailwindcss";
@plugin "@kobalte/tailwindcss";
@plugin "daisyui" {
	themes:
		unipal-light --default,
		/* TODO: Add a proper dark mode*/
		unipal-light --prefersdark;
}
@plugin "daisyui/theme" {
	name: "unipal-light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0 0);
	--color-base-200: oklch(96% 0.001 286.375);
	--color-base-300: oklch(92% 0.004 286.32);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(52.2% 0.188 258.395);
	--color-primary-content: oklch(97% 0.014 254.604);
	--color-secondary: oklch(70% 0.022 261.325);
	--color-secondary-content: oklch(13% 0.028 261.692);
	--color-accent: oklch(75% 0.183 55.934);
	--color-accent-content: oklch(26% 0.079 36.259);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(82% 0.111 230.318);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(26% 0.051 172.552);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
